/*
CSS to make the canvas cover the entire area of the browser.
https://youtu.be/raXW5J1Te7Y  How to Code: Circular Motion
*/

#canvas1 {
    position: absolute;
    background: black;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}

#canvas2 {
    position: absolute;
    background: rgba(0,0,0,0.0);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}